.body-index {
    background-color: map-get($map: $colors, $key: _bgColor);
    overflow-x: hidden;
    width: 100%;
}

.body {
    background-color: map-get($map: $colors, $key: _bgColor);
    overflow-x: hidden;
    width: 100%;
}

.border {
    border: map-get($map: $colors, $key: _pink) solid 3px;
}

.item {
    border: map-get($map: $colors, $key: _green) solid 2px;
}

h1 {
    font-size: 1.8rem;
    color: map-get($map: $colors, $key: _blue);
    font-family: $titleFont;
    text-align: center;
    text-decoration: 1px overline map-get($map: $colors, $key: _lightGray);
}

h2 {
    font-size: 1.6rem;
    color: map-get($map: $colors, $key: _blue);
    font-family: $titleFont;
    text-align: center;
    margin: 2rem 0 2rem;
}

h3 {
    font-size: 1.8rem;
    text-decoration: 1px overline map-get($map: $colors, $key: _lightGray);
    color: map-get($map: $colors, $key: _blue);
    font-family: $titleFont;
    text-align: center;

}

h4 {
    font-size: 1rem;
    font-family: $infoWorkshopCards;
    color: map-get($map: $colors, $key: _blue);
}



/* desktop */
@media only screen and (min-width: 1150px) and (orientation:landscape) {



    h1 {
        font-size: 3rem;
        padding-top: 2rem; 
    }
    .margin-title{
        margin-top: 12rem;
        margin-bottom: 10rem;
    }

    h2 {
        font-size: 2rem;
        margin: 2rem 0;
    }

    h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    h4 {
        font-size: 1rem;
        font-family: $infoWorkshopCards;
    }

    .short-hr {
        width: 10rem;
    }
}