// bootstrap///
.form-control {
    &:focus {
        border: 6px solid map-get($map: $colors, $key: _pink);
    }
}

.content-contacto {
    @include containters(relative, 20rem 1rem 0, 1rem, auto);
    background-color: map-get($map: $colors, $key: _bgColor);
    @extend %principalFonts;
}

.btn-success {
    background-color: map-get($map: $colors, $key: _blue) !important;
}

.form-label {
    font-size: 1.2rem;
    color: map-get($map: $colors, $key: _blue);
    font-family: $titleFont;
    margin-top: 1rem;
}





/* desktop */
@media only screen and (min-width: 1150px) and (orientation:landscape) {


    .content-contacto {
        @include containters(relative, 5rem 8rem 5rem, 0, auto);
        position: absolute;

        margin: 0;
        .padding-form {
            right: 0;
            justify-content: right;
            padding: 5rem 25rem;
        }
    }



}