// bootstrap///
.form-control {
    &:focus{
        border: 3px solid map-get($map: $colors, $key: _pink);
    }
}

.btn-success{
    background-color: map-get($map: $colors, $key: _orange);
}

.form-label {
    font-size: 1.2rem;
    color: $blue;
    font-family: $titleFont;
    margin-top: 2rem;
}
//////////////


.content-contacto {
    @include containters(relative,20rem 2rem 5rem, 2rem, auto);
    background-color: map-get($map: $colors, $key: _bgColor);
    @extend %principalFonts;
}


/* desktop */
@media only screen and (min-width: 992px) and (orientation:landscape) {


    .content-contacto {
        @include containters(relative,8rem 2rem 5rem, 0 10rem, auto);
    }

    .img-contacto img{
        width: 90%;
        margin-left: 5rem;
    }


}