// bootstrap///
.form-control {
    &:focus {
        border: 6px solid map-get($map: $colors, $key: _pink);
    }
}

.content-contacto {
    @include containters(relative, 17rem 1rem 0, 1rem, auto);
    background-color: map-get($map: $colors, $key: _bgColor);
    @extend %principalFonts;

    .img-contacto {
        img {
            display: flex;
            width: 100%;
        }
    }
}

.btn-success {
    background-color: map-get($map: $colors, $key: _blue) !important;
}

.form-label {
    font-size: 1.2rem;
    color: map-get($map: $colors, $key: _blue);
    font-family: $titleFont;
    margin-top: 1rem;
}





/* desktop */
@media only screen and (min-width: 1150px) and (orientation:landscape) {


    .content-contacto {
        @include containters(relative, 5rem 20rem 5rem, 0, auto);

        .padding-form {
            padding: 5rem 15rem;
        }
    }

    .img-contacto {
        img {
            width: 75% !important;
            margin-left: 5rem;
        }
    }


}