.image-courses {
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 34rem;
    height: 10rem;
    margin: 2rem 5rem;
    border: 1px solid map-get($map: $colors, $key: _lightGray);
    filter: drop-shadow(0 0 1px map-get($map: $colors, $key: _lightGray));
}

#h1cursos{
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cambridge {
    width: 8rem;
}

#mcer{
    width: 7rem;
}
#utn{
    width: 8rem;
    margin-right: .5rem;
}

#path {
    width: 6rem;
}

nav {
    --bs-gutter-x: 0;
}

section {
    .row {
        --bs-gutter-x: 0 !important;
    }
}

.tower {
    display: none;
}

.teacher {
    display: none;
}

.child-courses  {
    display: none;
}

.content-courses {
    @include containters(relative, 3rem 1rem 0, 2rem, auto);
    background-color: map-get($map: $colors, $key: _bgColor);
    @extend %principalFonts;

    span {
        b {
            font-size: 1.1rem;
            text-align: center;
            margin: 1.5rem 0;
            display: block;
        }

        h3 {
            font-size: 3rem !important;
        }
    }
}


.div-courses {
    @include containters(relative, 17rem 0 .5rem, 1rem 1rem, auto);
    display: block;
    text-align: center;

    h2 {
        font-size: 1.6rem;
        line-height: 2.7rem;
        margin-bottom: .3rem;
        padding-bottom: 1rem;
    }

    span {
        padding-top: .3rem;;
        font-size: .8rem;
    }
}





/* desktop */
@media only screen and (min-width: 1150px) and (orientation:landscape) {

    #mcer{
        width: 15rem;
    }

    #cambridge {
        width: 20rem;
        margin: 0 2rem;
    }

    #utn{
        width: 20rem;
        margin: 0 2rem 0  0;
    }

    #path {
        width: 11rem;
        margin: 0 2rem;
    }

    .teacher {
        position: fixed;
        display: block;
        width: 20rem;
        bottom: 0rem;
        z-index: -10;
        filter: drop-shadow(.3rem .3rem 3px map-get($map: $colors, $key: _lightGray));
        filter: opacity(90%)
    }


.child-courses {
        position: fixed;
        display: block;
        right: 0;
        width: 20rem;
        bottom: 0rem;
        z-index: -10;
        filter: drop-shadow(.3rem .3rem 3px map-get($map: $colors, $key: _lightGray));
        filter: opacity(90%)
}

    .backgroundCoursesIntro{
        z-index: 10;
        background-color: map-get($map: $colors, $key: _bgColor2);
    }

    .image-courses {
        display: inline-flex;
        width: 30rem;
        height: 30rem;
        margin: 12rem auto 1rem auto;
    }

    .content-courses {
        margin: 10rem 0 2rem !important;
        padding: 2rem;
        width: 50%;
        filter: drop-shadow(1px 1px 10px map-get($map: $colors, $key: _lighGray));

        p {
            padding: .5rem 0;
        }

        span {
            padding: .5rem 0;
        }
    }
    
    .courses-1{
        border: .7rem ridge map-get($map: $colors, $key: _skyBlue);
    }
    .courses-2{
        border: .7rem ridge map-get($map: $colors, $key: _pink);
    }
    .courses-3{
        border: .7rem ridge map-get($map: $colors, $key: _yellow);
    }
    .courses-4{
        border: .7rem ridge map-get($map: $colors, $key: _black);
    }
    .courses-5{
        border: .7rem ridge map-get($map: $colors, $key: _green );
    }

    .exams-1{
        border: .7rem double map-get($map: $colors, $key: _skyBlue);
    }

    .exams-2{
        border: .7rem double map-get($map: $colors, $key: _skyBlue);
    }

    .div-courses {
        margin: 10rem 0 4rem !important;

        h2 {
            font-size: 2.3rem;
            margin-bottom: 1.5rem;
        }

        span {
            display: block;
            font-family: $principalFont;
            font-size: 1rem;
            padding: .5rem 10rem 0;
        }
    }
}