.image-courses {
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 34rem;
    height: 10rem;
    margin: 2rem 5rem;
    border: 1px solid map-get($map: $colors, $key: _lightGray);
    filter: drop-shadow(0 0 1px map-get($map: $colors, $key: _lightGray));
}

.tower{
   display: none;
}

.content-courses {
    @include containters(relative, 5rem 1rem 2rem, 2rem, auto);
    background-color: map-get($map: $colors, $key: _bgColor);
    @extend %principalFonts;
}

.content-courses-1 {
    @include containters(relative,0rem 1rem 2rem, 2rem, auto);
    justify-content: center;
    background-color: map-get($map: $colors, $key: _bgColor);
    @extend %principalFonts;
}

.div-courses {
    @include containters(relative,15rem 1rem 3rem, 1rem 4rem, auto);
    display: block;
    text-align: center;
}





/* desktop */
@media only screen and (min-width: 1150px) and (orientation:landscape) {

    .center{
        justify-content: center;
    }
    
    .tower{
        display: block;
        background-repeat: no-repeat; 
        background-size: cover; 
        position:fixed; 
        z-index: -10; 
        height: 70%;
        bottom:0;
    }

    .image-courses {
        display: inline-flex;
        width: 30rem;
        height: 30rem;
        margin: 12rem auto 1rem auto;
    }


    .content-courses-1 {
        position: relative;
        margin: 10rem 0 2rem;
        padding: 2rem;
        width: 50%;
        filter: drop-shadow(1px 1px 6px map-get($map: $colors, $key: _lighGray));
    }

    .content-courses {
        margin: 5rem 0 2rem;
        padding: 2rem;
        width: 50%;
        filter: drop-shadow(1px 1px 6px map-get($map: $colors, $key: _lighGray));

        p{
            padding: .5rem 0;
        }

        span{
            padding: .5rem 0;
        }
    }
    
    .div-courses {
        margin: 10rem 0 3rem !important;

        span {
            display: block;
            font-family: $principalFont;
            font-size: 1rem;
            padding-top: .2rem;
    
        }
    }
}