.content-examenes {
    @include containters(relative,18rem 1rem 10rem, 1rem, auto);
    background-color: map-get($map: $colors, $key: _bgColor);
    @extend %principalFonts;

    img {
        display: inline-flex;
        margin: 0rem 1rem 2rem;
        width: 40%;
        height: 40%;
        justify-content: center;
    }
}

.center {
    display: flex;
    justify-content: center;
}



/* desktop */
@media only screen and (min-width: 992px) and (orientation:landscape) {

    .content-examenes {
        margin: 8rem 0 5rem !important;
        padding: 0 20rem;
    }

    
    .content-examenes img {
        margin: 0rem 2rem;
        width: 20%;
        padding-bottom: 4rem;
    }

    #cambridge {
        width: 20rem;
    }
}

