.content-faq {
    @include containters(relative, 20rem 0 4rem 0, 2rem, auto);
    background-color: map-get($map: $colors, $key: _bgColor);
    @extend %principalFonts;

    p{
        padding-top: 5rem;
    }
}

.center {
    display: flex;
    justify-content: center;
}

/* desktop */
@media only screen and (min-width: 992px) and (orientation:landscape) {

    .content-faq {
        margin: 15rem 0 5rem;
        padding: 4em 20rem;
        justify-content: center;
    }


}

