$titleFont: 'Ibarra Real Nova', serif;
$infoWorkshopCards: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida S';
$principalFont: Verdana, Geneva, Tahoma, sans-serif;
$linksFonts: 'Times New Roman', Times, serif;