.copyright {
    position: absolute;
    font-size: .5rem;
    left: 1.5rem;
    bottom: 2.5rem;
    color: map-get($map: $colors, $key: _bgColor);
}

.redesSociales{
    height: 80px;
    width: 205px;
    margin: 0 auto 2rem;
    img{
        display: inline-flex;
        height: 80%;
    }
}

.foot {
    position: relative;
    background-color: map-get($map: $colors, $key: _black);
    width: auto;
    margin-top: 10rem;
    padding-bottom: 1rem;
    filter: drop-shadow(0 -1rem 4rem map-get($colors, _skyBlue));

    .row{
        --bs-gutter-x: 0;
    }
}

.menuFooter {
    padding: 1.5rem;
    display: block;
    justify-content: center;
    list-style: none;
    text-align: center;

    .LinkFoot {
        color: map-get($map: $colors, $key: _withe);
        text-decoration: solid;
        font-family: $principalFont;
        text-decoration: none;
        font-weight: bold;
        &:hover{
            color: map-get($map: $colors, $key: _skyBlue );
        }
    }
}

.listFooter {
    display: block;
    list-style: none;
    font-size: 1.1rem;
    padding: 0;

    li{
        margin: 1rem 0;
    }

}

/* desktop */
@media only screen and (min-width: 1150px) and (orientation:landscape) {


    .foot {
        height: 100%;
        bottom: 0px;
        margin-top: 8rem;
        filter: drop-shadow(0 -2rem 6rem map-get($colors, _skyBlue));
        // border-top: .3rem dashed map-get($map: $colors, $key: _skyBlue);
        z-index: 20;
    }

    .listFooter {
        display: flex;
        text-decoration: none;
    }

    .menuFooter {
        margin: auto;
        padding: 1rem .2rem 0;
        display: flex;

        .LinkFoot {
            margin: 0 1rem;
            font-size: 1.2rem;
        }
    }

    .copyright{
        font-size: .7rem;
        justify-content: center;
    }

}