.copyright {
    position: absolute;
    font-size: .5rem;
    left: 1.5rem;
    bottom: 1.5rem;
    color: map-get($map: $colors, $key: _bgColor);
}

.foot {
    position: relative;
    background-color: map-get($map: $colors, $key: _black);
    width: auto;
    margin-top: 15rem;
    padding-bottom: 1rem;
    filter: drop-shadow(0 -1rem 4rem map-get($colors, _skyBlue));

    .row{
        --bs-gutter-x: 0;
    }
}

.menuFooter {
    padding: 1.5rem;
    display: block;
    justify-content: center;
    list-style: none;
    text-align: center;

    .LinkFoot {
        color: map-get($map: $colors, $key: _withe);
        text-decoration: solid;
        font-family: $principalFont;
        text-decoration: none;
        font-weight: bold;
    }
}

.listFooter {
    display: block;
    list-style: none;
    font-size: 1.1rem;

    li{
        margin: 1.2rem 0;
    }

}

/* desktop */
@media only screen and (min-width: 1150px) and (orientation:landscape) {


    .foot {
        height: 100%;
        bottom: 0px;
        margin-top: 8rem;
        filter: drop-shadow(0 -2rem 6rem map-get($colors, _skyBlue));
    }

    .listFooter {
        display: flex;
        text-decoration: none;
    }

    .menuFooter {
        margin: 0px 10px;
        padding: 2rem .2rem;
        display: flex;

        .LinkFoot {
            margin: 0px 20px;
            font-size: medium;
        }
    }


}