.barNav {
    position: absolute;
    background-color: map-get($map: $colors, $key: _skyBlue );
    width: 100%;
    height: 4rem;
    top: 0px;
    border-radius: 0 4rem 0 1rem;
    border-bottom: 5px solid map-get($map: $colors, $key: _pink );
    border-right: 6px solid map-get($map: $colors, $key: _gray );
    border-top: 0;

    .row{
        --bs-gutter-x: 0;
    }
}

.barDecoration {
    display: flex;
    align-items: center;
    justify-content: center;

}

.listNav {
    display: block;
    list-style-type: none;
    background-color: map-get($map: $colors, $key: _pink );
    position: absolute;
    right: -5.75px;
    padding: .2rem .5rem;
    margin-top: 17.92rem;
    border: 1px 2px solid map-get($map: $colors, $key: _gray );
    border-right: 6px solid map-get($map: $colors, $key: _gray );
    border-bottom: 3px solid map-get($map: $colors, $key: _gray );
    border-radius: 0 0 2rem 2rem;
    
}

.LinkNav {
    display: block;
    color: map-get($map:$colors, $key: _gray );
    padding: .2rem 1rem;
    margin: 0.4rem;
    font-family: $principalFont;
    font-style: italic;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    border-radius: 1rem;
    background-color:  map-get($map:$colors, $key: _gray2 );
    border: 1px solid  map-get($map:$colors, $key: _black );
    filter: drop-shadow(1px 1px 1px map-get($map: $colors, $key: _black));
}

#index {
    color:  map-get($map:$colors, $key: _black );
    filter: drop-shadow(0 0 0 map-get($map: $colors, $key: _black));
    background-color: map-get($map: $colors, $key: _withe);
    border: 1px solid  map-get($map:$colors, $key: _lightGray );
    
}

#cursos {
    color:  map-get($map:$colors, $key: _black );
    filter: drop-shadow(0 0 0 map-get($map: $colors, $key: _black));
    background-color: map-get($map: $colors, $key: _withe);
    border: 1px solid  map-get($map:$colors, $key: _lightGray );
}

#nosotros {
    color:  map-get($map:$colors, $key: _black );
    filter: drop-shadow(0 0 0 map-get($map: $colors, $key: _black));
    background-color: map-get($map: $colors, $key: _withe);
    border: 1px solid  map-get($map:$colors, $key: _lightGray );
}


#workshop {
    color:  map-get($map:$colors, $key: _black );
    filter: drop-shadow(0 0 0 map-get($map: $colors, $key: _black));
    background-color: map-get($map: $colors, $key: _withe);
    border: 1px solid  map-get($map:$colors, $key: _lightGray );
}

#preguntas {
    color:  map-get($map:$colors, $key: _black );
    filter: drop-shadow(0 0 0 map-get($map: $colors, $key: _black));
    background-color: map-get($map: $colors, $key: _withe);
    border: 1px solid  map-get($map:$colors, $key: _lightGray );
}

.logo-index {
    position: absolute;
    margin: 1.5rem;
    border-radius: 2rem;
    width: 8rem !important;
    height: 7rem !important;
    animation: rotacion 1.4s 1;
    filter: drop-shadow(2px 4px 6px map-get($map: $colors, $key: _black));
}


.logo {
    position: absolute;
    margin: 1.5rem;
    border-radius: 2rem;
    width: 8rem;
    height: 7rem;
    filter: drop-shadow(2px 4px 6px map-get($map: $colors, $key: _black));
}





//desktop
@media only screen and (min-width: 1150px) and (orientation:landscape) {
        

    .barNav {
        position: relative;
        height: 4em;
        width: 99vw;
    }

    .barDecoration {
        justify-content: end;
    }


    .listNav {
        display: flex;
        list-style-type: none;
        background-color:  map-get($map: $colors, $key: _pink);
        padding: 1.2rem 1.4rem;
        margin-top: 9.5rem;
        right: -6px;
        border-top: 0 solid;
        border-radius: 0rem 0 2rem 2rem;
    }


    .LinkNav {
        padding: 0.4rem 2rem;
        margin: 10px;
        font-size: 1.3rem;
        display: inline;
        border-radius: 1.2rem;
        font-style: normal;
        filter: drop-shadow(3px 3px 1px map-get($map: $colors, $key: _black));
        
    }


    .logo-index {
        width: 9rem !important;
        height: 8rem !important;
        z-index: 50;
    }

    .logo {
        width: 9rem !important;
        height: 8rem !important;
        z-index: 50;
    }
    

}

