.barNav {
    position: absolute;
    background-color: map-get($map: $colors, $key: _skyBlue );
    width: 100%;
    height: 3rem;
    top: 0px;
    border-radius: 0 2rem 0 0;
    filter: drop-shadow(2px 4px 6px map-get($map: $colors, $key: _black));
}

.barDecoration {
    display: flex;
    align-items: center;
    justify-content: center;

}

.listNav {
    display: block;
    list-style-type: none;
    background-color: map-get($map: $colors, $key: _pink );
    position: absolute;
    right: 0px;
    padding: .2rem .5rem;
    margin-top: 16.1rem;
    border-top: 1px solid map-get($map: $colors, $key: _black );;
    border-radius: 0 0 2rem 2rem;
}

.LinkNav {
    display: block;
    color: map-get($map:$colors, $key: _gray );
    padding: .2rem .5rem;
    margin: 0.5rem;
    font-family: $principalFont;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: .8rem;
    border-radius: 0.5rem;
    background-color:  map-get($map:$colors, $key: _bgColor );
    border: 1px solid  map-get($map:$colors, $key: _lightGray );
    filter: drop-shadow(2px 1px 1px map-get($map: $colors, $key: _black));

        &:hover {
            border: 1px solid  map-get($map:$colors, $key: _black );
        }
}

#index {
    color:  map-get($map:$colors, $key: _gray );
}

#contacto {
    color:  map-get($map:$colors, $key: _gray );
}

#cursos {
    color:  map-get($map:$colors, $key: _gray );
}

#examenes {
    color:  map-get($map:$colors, $key: _gray );
}

#nosotros {
    color:  map-get($map:$colors, $key: _gray );
}

.logo-index {
    position: absolute;
    margin: 1.5rem;
    border-radius: 1.5em;
    border-top: solid 1px map-get($map: $colors, $key: _gray) !important;
    border-left: solid 1px map-get($map: $colors, $key: _gray) !important;
    border-color:  map-get($map: $colors, $key: _black);
    width: 9rem !important;
    animation: rotacion 1.6s 1;
}


.logo {
    position: absolute;
    margin: 1.5rem;
    border-radius: 1.5em;
    border-top: solid 1px map-get($map: $colors, $key: _gray) !important;
    border-left: solid 1px map-get($map: $colors, $key: _gray) !important;
    border-color:  map-get($map: $colors, $key: _black);
    width: 9rem;
}








@media only screen and (min-width: 992px) and (orientation:landscape) {

    .barNav {
        position: relative;
        height: 4em;
    }

    .barDecoration {
        justify-content: end;
    }


    .listNav {
        display: flex;
        list-style-type: none;
        background-color:  map-get($map: $colors, $key: _pink);
        padding: 1rem 1.5rem;
        margin-top: 8.5rem;
        border-top: 1px solid map-get($map: $colors, $key: _black);
        border-radius: 2rem 0 2rem 2rem;
    }


    .LinkNav {
        padding: 0.3rem 1.5rem;
        margin: 10px;
        font-size: 1rem;
        display: inline;
        border-radius: 0.3rem;
        filter: drop-shadow(3px 3px 1px map-get($map: $colors, $key: _black));
    }


    /* efecto boton presionado para indicar pagina actual */
    #index {
        border: 1px solid  map-get($map: $colors, $key: _lightGray);
        filter: drop-shadow(0 0 0 map-get($map: $colors, $key: _black));
        background-color: map-get($map: $colors, $key: _withe);
    }

    #contacto {
        border: 1px solid map-get($map: $colors, $key: _lightGray);
        filter: drop-shadow(0 0 0 map-get($map: $colors, $key: _black));
        background-color: map-get($map: $colors, $key: _withe);
    }

    #cursos {
        border: 1px solid map-get($map: $colors, $key: _lightGray);
        filter: drop-shadow(0 0 0 map-get($map: $colors, $key: _black));
        background-color: map-get($map: $colors, $key: _withe);
    }

    #examenes {
        border: 1px solid map-get($map: $colors, $key: _lightGray);
        filter: drop-shadow(0 0 0 map-get($map: $colors, $key: _black));
        background-color: map-get($map: $colors, $key: _withe);
    }

    #nosotros {
        border: 1px solid map-get($map: $colors, $key: _lightGray);
        filter: drop-shadow(0 0 0 map-get($map: $colors, $key: _black));
        background-color: map-get($map: $colors, $key: _withe);
    }

    .logo-index {
        width: 11rem !important;
        border-top: solid 2px map-get($map: $colors, $key: _gray) !important;
        border-left: solid 2px map-get($map: $colors, $key: _gray) !important;
    }

    .logo {
        width: 11rem !important;
        border-top: solid 2px map-get($map: $colors, $key: _gray) !important;
        border-left: solid 2px map-get($map: $colors, $key: _gray) !important;
    }
    

}

