.carrousel {
    display: flex;
    justify-content: left;
}

.imagenPrincipal {
    margin-top: 18rem;
    width: 100%;
}

.content-index {
    position: relative;
    margin: 4rem 0 2rem;
    padding: 2rem 1rem;
    font-family: $principalFont;
    font-size: medium;
}


.aside {
    margin: 3rem 0;
    padding: 3rem .8rem 3rem 0;

    div{
        span{
            display: flex;
            width: 100%;
            justify-content: center;

            a{
                display: block;
                position: relative;
                margin: 0 0 8rem 0;
                padding: .5rem .2rem;
                width: 100%;
                text-decoration: none;
                font-size: 1.2rem;
                color: map-get($map: $colors, $key: _blue );
                font-family: $principalFont;
                justify-content: center;
                text-align: center;
                font-weight: bolder;
                background-color: map-get($map: $colors, $key: _bgColor );
                border: 4px dashed map-get($map: $colors, $key: _blue );
            }

        }
        img{
            width: 100%;
            border: solid 1px map-get($map: $colors, $key: _black );
        }
        
    }
}



@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }

    50% {
        margin-left: 3rem;
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}






/* desktop */
@media only screen and (min-width: 992px) and (orientation:landscape) {


    .carrousel {
        justify-content: center;
    }

    .imagenPrincipal {
        margin: 8rem auto 0 auto;
        width: 80rem;
    }

    .content-index {
        position: relative;
        margin: 5rem 0 4rem 0;
        padding: 2rem 5rem;
        font-family: Verdana, Tahoma, sans-serif;
        font-size: 1rem;
        height: auto;

        p{
            margin-top: 3rem;
        }
    }


    .aside {
        margin: 5rem 0;
        padding: 5rem;
        div{
            span{
                a{
                    display: flex;
                    position: relative;
                    width: 100%;
                    text-decoration: none;
                    font-size: 2rem;
                    color: $blue;
                    font-family: $titleFont;
                    justify-content: center;
                    text-align: center;
                    font-weight: bolder;
                    background-color: map-get($map: $colors, $key: _bgColor );
                }
            }
            
            img{
                width: 100%;
                border: solid 1px map-get($map: $colors, $key: _lightGray );
            }
        }
    }

}