.carrousel {
    display: flex;
    justify-content: left;
    margin-top: 2rem;
}

.imagenPrincipalMovil {
    margin-top: 13rem;
    width: 99vw;
    margin-left: -1rem;
}

.imagenPrincipal{
    display: none;
}

.content-index {
    @extend %principalFonts;
    position: relative;
    margin: .5rem 0 5rem;
    padding: 2rem 1rem;
    h1{
        text-decoration: none;
    }

    img{
        display: none;
    }
}


.aside {

    div {
        span {
            display: flex;
            width: 100%;
            justify-content: center;

            a {
                display: block;
                position: relative;
                margin: 0 0 8rem 0;
                padding: .5rem .2rem;
                width: 100%;
                text-decoration: none;
                font-size: 2rem;
                color: map-get($map: $colors, $key: _blue );
                font-family: $titleFont;
                justify-content: center;
                text-align: center;
                font-weight: bolder;
                background-color: map-get($map: $colors, $key: _bgColor );
                border: 1px solid map-get($map: $colors, $key: _gray );
                filter: drop-shadow(2px 2px 4px map-get($map: $colors, $key: _gray));
            }

        }
        img{
            width: 100%;
            border: .1rem solid map-get($map: $colors, $key: _gray );
            filter: drop-shadow(2px 2px 4px map-get($map: $colors, $key: _gray));
        }

    }
}



@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }

    50% {
        margin-left: 3rem;
        transform: rotate(35deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}






/* desktop */
@media only screen and (min-width: 1150px) and (orientation:landscape) {


    .carrousel {
        justify-content: center;
    }

    .imagenPrincipal {
        margin: 7rem auto 0 auto;
        width: 80vw;
        z-index: -10;
        display: block;
    }

    .imagenPrincipalMovil {
       display: none;
    }
    

    .content-index {
        position: relative;
        margin: 5rem 0 4rem 0;
        padding: 2rem 5rem;
        font-family: Verdana, Tahoma, sans-serif;
        font-size: 1rem;
        height: auto;

        h1{
            text-decoration: 2px overline;
        }

        p {
            margin-top: 3rem;
        }

        img{
            display: block;
            margin-top: 1rem;
            width: 90%;
            margin-left: 1rem;
        }
    }


    .aside {
        margin: 5rem 0 0;
        padding: 6rem;

        div {
            span {
                a {
                    display: flex;
                    position: relative;
                    width: 100%;
                    text-decoration: none;
                    font-size: 2rem;
                    color: map-get($map: $colors, $key: _blue);
                    font-family: $titleFont;
                    justify-content: center;
                    text-align: center;
                    font-weight: bolder;
                    background-color: map-get($map: $colors, $key: _bgColor);
                    filter: drop-shadow(10px 10px 10px map-get($map: $colors, $key: _gray));
                }
            }
            img{
                width: 100%;
                border: .1rem solid map-get($map: $colors, $key: _gray );
                filter: drop-shadow(10px 10px 6px map-get($map: $colors, $key: _gray));
            }
        }
    }

}