.content-nos {
    @include containters(relative, 1rem 0 0 0, 1rem, auto);
    background-color: map-get($map: $colors, $key: _bgColor);
    @extend %principalFonts;

    display: flex;
    flex-direction: row;

    img{
        width: 4rem;
        height: 4rem;
        margin: 0 1rem 0 -1rem;
    }
}

#question{
    font-size: 1.5rem;
    margin: 0;
}

#exp {
    font-size: .8rem;
    margin-bottom: 2rem
}

.first{
    @include containters(relative, 18rem 0 0 0, 1rem, auto);
}

.paragraph-nos{
    p{
        text-indent: 0;
        margin-bottom: 1rem;
        b{
            font-size: 1.1rem;
            color: map-get($map: $colors, $key: _skyBlue);
        }

        .black{
          color: black;
        }
        
    }
}

.black{
    color: black;
  }

.text-center{
    text-align: center;
}

/* desktop */
@media only screen and (min-width: 1150px) and (orientation:landscape) {
    #question{
        font-size: 2rem;
        margin-top: 2rem;
    }

    #exp {
        font-size: 1.1rem;
        margin-bottom: 2rem
    }

    .content-nos {
        @include containters(relative, 1rem 0 0 0, 2rem 10rem, auto);
        img{
            width: 8rem;
            height: 8rem;
            margin: 0 3rem 0 -4rem;
        }
    }
    .first{
        @include containters(relative, 10rem 0 0 0, 5rem 10rem 2rem, auto);
    }

    .mt2{
        margin-top: 2rem;
    }

    .paragraph-nos{

        p{
            font-size: 1.1rem;
            b{
                font-size: 1.2rem;
            }            
        }
    }
}