.content-nos {
    @include containters(relative, 18rem 1rem 1rem 0rem, 1rem 1.5rem, auto);
    background-color: map-get($map: $colors, $key: _bgColor);
    @extend %principalFonts;

    ul {
        padding: 1rem;

        li {
            margin-bottom: 4rem;
            padding: 1rem;
            list-style: none;
        }
        #libreta {
            position: absolute;
            top: 16rem;
            left: -1rem;
            width: 80px;
            rotate: (-10deg);
        }

        #lapiz {
            position: absolute;
            top: 35rem;
            right: 0;
            width: 80px;
            rotate: (30deg);

        }

        #libroAbierto {
            position: absolute;
            top: 65rem;
            right: 0;
            width: 70px;
        }

        #tablet {
            position: absolute;
            top: 84rem;
            left: -2rem;
            width: 100px;
        }

        #libro2{
            position: absolute;
            top: 110rem;
            right: 0rem;
            width: 80px;
            rotate: (30deg);
        }

        #li-1 {
            border: 5px double map-get($map: $colors, $key: _blue);
        }

        #li-2 {
            border: 5px double map-get($map: $colors, $key: _green);
        }

        #li-3 {
            border: 5px double map-get($map: $colors, $key: _black);
        }

        #li-4 {
            border: 5px double map-get($map: $colors, $key: _pink);
        }

        #li-5 {
            border: 5px double map-get($map: $colors, $key: _green);
        }

        #li-6 {
            border: 5px double map-get($map: $colors, $key: _blue);
            margin-bottom: 0;
        }
    }
}

/* desktop */
@media only screen and (min-width: 1150px) and (orientation:landscape) {

    .content-nos {
        margin: 10rem 2rem !important;
        padding: 1rem 10% !important;
        font-size: 1.1rem;

        ul {

            li {
                margin-top: 2rem;
                padding: 1rem;
            }

            #libreta {
                top: 10rem;
                left: 4rem;
                width: 10% !important;
            }

            #lapiz {
                top: 20rem;
                right: 4rem;
                width: 10% !important;
            }

            #libroAbierto {
                top: 40rem;
                right: 4rem;
                width: 8% !important;
            }

            #tablet {
                top: 50rem;
                left: 3em;
                width: 11% !important;
                rotate: (-20deg);;
            }

            #libro2{
                top: 65rem;
                right: 5rem;
                width: 10%;
                rotate: (40deg);
            }
    }
}

}