.image-workshop {
    position: absolute;
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    border: .5rem double map-get($map: $colors, $key: _lighGray );
    animation: rgb 15s infinite;
    
}

@keyframes rgb {
    0% {
        filter: drop-shadow(0 0 .1rem map-get($colors, _skyBlue));
    }

    25% {
        filter: drop-shadow(0 0 .1rem map-get($colors, _pink));
    }

    50% {
        filter: drop-shadow(0 0 .1rem map-get($colors, _yellow));
    }

    75%{
        filter: drop-shadow(0 0 .1rem map-get($colors, _green));
    }

    100% {
        filter: drop-shadow(0 0 .1rem map-get($colors, _skyBlue));
    }


}


.content-work {
    @include containters(relative,17rem 0 1rem,2rem 1rem,auto);
    background-color: map-get($map: $colors, $key: _bgColor );
    @extend %principalFonts;
}

.content-works {
    @include containters(relative,0,2rem 1rem,auto);
    background-color: map-get($map: $colors, $key: _bgColor );
    @extend %principalFonts;

}

.content-work-img {
    margin: 2rem 0 8rem;
    img{
        width: 92%;
    }
}

.content-work-imgs {
    margin: 2rem 0 9rem;
    img{
        width: 92%;
    }
}

.space {
    margin-top: 1rem;
}


/* desktop */
@media only screen and (min-width: 1150px) and (orientation:landscape) {


    .image-workshop {
        width: 100% !important;
        display: block !important;
        position: relative !important;
    }

    .content-work-img {
        margin: 2rem 0 5rem !important;
    }

    .content-work-imgs {
        margin: 2rem 0 5rem !important;
    }

    .content-work {
        margin: 10rem 0 0 !important;
        padding: 2rem 30% 0 !important;
    }

    .content-works {
        position: relative !important;
        margin: 2rem 0 !important;
        padding: 2rem 30% !important;
    }

    .bottom {
        position: relative !important;
        bottom: 1rem !important;
    }


}
