.image-workshop {
    position: absolute;
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    border: 1px solid map-get($map: $colors, $key: _lighGray );
}

.content-work {
    @include containters(relative,20rem 0 1rem,2rem 1rem,auto);
    background-color: map-get($map: $colors, $key: _bgColor );
    @extend %principalFonts;
}

.content-works {
    @include containters(relative,0,2rem 1rem,auto);
    background-color: map-get($map: $colors, $key: _bgColor );
    @extend %principalFonts;

}

.content-work-img {
    margin: 20rem 0 5rem;
}

.content-work-imgs {
    margin: 2rem 0 5rem;
}

.space {
    margin-top: 1rem;
}


/* desktop */
@media only screen and (min-width: 992px) and (orientation:landscape) {

    .image-workshop {
        width: 30%;
    }

    .content-work-img {
        margin: 2rem 2rem 5rem;
    }

    .content-work-imgs {
        margin: 2rem 2rem 5rem;
    }

    .content-work {
        margin: 2rem 0 5rem;
        padding: 2rem 5rem;
    }

    .content-works {
        position: relative;
        margin: 2rem 0 5rem;
        padding: 2rem 5rem;
    }

    .bottom {
        position: relative;
        bottom: 1rem;
    }


}
