.barNav {
  position: absolute;
  background-color: #1ad4f6;
  width: 100%;
  height: 3rem;
  top: 0px;
  border-radius: 0 2rem 0 0;
  filter: drop-shadow(2px 4px 6px #000000);
}

.barDecoration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listNav {
  display: block;
  list-style-type: none;
  background-color: #F81878;
  position: absolute;
  right: 0px;
  padding: 0.2rem 0.5rem;
  margin-top: 18.3rem;
  border-top: 1px solid #000000;
  border-radius: 0 0 2rem 2rem;
}

.LinkNav {
  display: block;
  color: #333333;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  background-color: #f8f3f0;
  border: 1px solid #929292;
  filter: drop-shadow(2px 1px 1px #000000);
}
.LinkNavhover {
  border: 1px solid #000000;
}

#index {
  color: #333333;
}

#contacto {
  color: #333333;
}

#cursos {
  color: #333333;
}

#examenes {
  color: #333333;
}

#nosotros {
  color: #333333;
}

.logo-index {
  position: absolute;
  margin: 1.5rem;
  border-radius: 1.5em;
  border-top: solid 2px;
  border-left: solid 2px;
  border-color: #000000;
  width: 8rem;
  -webkit-animation: rotacion 1.6s 1;
          animation: rotacion 1.6s 1;
}

.logo {
  position: absolute;
  margin: 1.5rem;
  border-radius: 1.5em;
  border-top: solid 2px;
  border-left: solid 2px;
  border-color: #000000;
  width: 9rem;
}

@media only screen and (min-width: 992px) and (orientation: landscape) {
  .barNav {
    position: relative;
    height: 4em;
  }
  .barDecoration {
    justify-content: end;
  }
  .listNav {
    display: flex;
    list-style-type: none;
    background-color: #F81878;
    padding: 1rem 1.5rem;
    margin-top: 8.5rem;
    border-top: 1px solid #000000;
    border-radius: 2rem 0 2rem 2rem;
  }
  .LinkNav {
    padding: 0.3rem 1.5rem;
    margin: 10px;
    font-size: 1rem;
    display: inline;
    border-radius: 0.3rem;
    filter: drop-shadow(3px 3px 1px #000000);
  }
  /* efecto boton presionado para indicar pagina actual */
  #index {
    border: 1px solid #929292;
    filter: drop-shadow(0 0 0 #000000);
    background-color: #ffffff;
  }
  #contacto {
    border: 1px solid #929292;
    filter: drop-shadow(0 0 0 #000000);
    background-color: #ffffff;
  }
  #cursos {
    border: 1px solid #929292;
    filter: drop-shadow(0 0 0 #000000);
    background-color: #ffffff;
  }
  #examenes {
    border: 1px solid #929292;
    filter: drop-shadow(0 0 0 #000000);
    background-color: #ffffff;
  }
  #nosotros {
    border: 1px solid #929292;
    filter: drop-shadow(0 0 0 #000000);
    background-color: #ffffff;
  }
  .logo-index {
    width: 11rem;
  }
  .logo {
    width: 11rem;
  }
}
.body-index {
  background-color: #f8f3f0;
  overflow-x: hidden;
}

.body {
  background-color: #f8f3f0;
  overflow-x: hidden;
}

.border {
  border: #F81878 solid 3px;
}

.item {
  border: #008000 solid 2px;
}

h1 {
  font-size: 1.8rem;
  color: #0f0d57;
  font-family: "Ibarra Real Nova", serif;
  text-align: center;
  -webkit-text-decoration: 1px overline #929292;
          text-decoration: 1px overline #929292;
}

h2 {
  font-size: 1.6rem;
  color: #0f0d57;
  font-family: "Ibarra Real Nova", serif;
  text-align: center;
  margin: 10rem 0 2rem;
}

h3 {
  font-size: 1.8rem;
  -webkit-text-decoration: 1px overline #929292;
          text-decoration: 1px overline #929292;
  color: #0f0d57;
  font-family: "Ibarra Real Nova", serif;
  text-align: center;
}

h4 {
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida S";
  color: #0f0d57;
}

/* desktop */
@media only screen and (min-width: 992px) and (orientation: landscape) {
  h1 {
    font-size: 3rem;
    padding-top: 2rem;
  }
  .margin-title {
    margin-top: 12rem;
    margin-bottom: 10rem;
  }
  h2 {
    font-size: 2rem;
    margin: 2rem 0;
  }
  h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  h4 {
    font-size: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida S";
  }
  .short-hr {
    width: 10rem;
  }
}
.copyright {
  position: absolute;
  font-size: x-small;
  left: 10px;
  bottom: 5px;
  color: #f8f3f0;
}

.foot {
  position: relative;
  background-color: #000000;
  width: 100%;
  padding-bottom: 1rem;
}

.menuFooter {
  padding: 1.5rem;
  display: block;
  justify-content: center;
  list-style: none;
  text-align: center;
}
.menuFooter .LinkFoot {
  color: #ffffff;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.listFooter {
  display: block;
  list-style: none;
  font-size: 1rem;
}
.listFooter li {
  margin-top: 1rem;
}

/* desktop */
@media only screen and (min-width: 992px) and (orientation: landscape) {
  .foot {
    height: 100%;
    bottom: 0px;
    margin-top: 8rem;
  }
  .listFooter {
    display: flex;
    text-decoration: none;
  }
  .menuFooter {
    margin: 0px 10px;
    padding: 2rem 0.2rem;
    display: flex;
  }
  .menuFooter .LinkFoot {
    margin: 0px 20px;
    font-size: medium;
  }
}
.carrousel {
  display: flex;
  justify-content: left;
}

.imagenPrincipal {
  margin-top: 18rem;
  width: 100%;
}

.content-index {
  position: relative;
  margin: 4rem 0 2rem;
  padding: 2rem 1rem;
  background-color: #f8f3f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

.aside {
  margin: 3rem 0;
  padding: 3rem 0.8rem 3rem 0;
}
.aside div span {
  display: flex;
  width: 100%;
  justify-content: center;
}
.aside div span a {
  display: block;
  position: relative;
  margin: 0 0 8rem 0;
  padding: 0.5rem 0.2rem;
  width: 100%;
  text-decoration: none;
  font-size: 1.2rem;
  color: #0f0d57;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  background-color: #f8f3f0;
  border: 4px dashed #0f0d57;
}
.aside div img {
  width: 100%;
  border: solid 1px #000000;
}

@-webkit-keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }
  50% {
    margin-left: 3rem;
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }
  50% {
    margin-left: 3rem;
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* desktop */
@media only screen and (min-width: 992px) and (orientation: landscape) {
  .carrousel {
    justify-content: center;
  }
  .imagenPrincipal {
    margin: 8rem auto 0 auto;
    width: 80rem;
  }
  .content-index {
    position: relative;
    margin: 5rem 0 4rem 0;
    padding: 2rem 5rem;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1rem;
    height: auto;
  }
  .content-index p {
    margin-top: 3rem;
  }
  .aside {
    margin: 5rem 0;
    padding: 5rem;
  }
  .aside div span a {
    display: flex;
    position: relative;
    width: 100%;
    text-decoration: none;
    font-size: 2rem;
    color: #0f0d57;
    font-family: "Ibarra Real Nova", serif;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    background-color: #f8f3f0;
  }
  .aside div img {
    width: 100%;
    border: solid 1px #929292;
  }
}
.image-courses {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 34rem;
  height: 10rem;
  margin: 2rem 5rem;
  border: 1px solid #929292;
  filter: drop-shadow(0 0 1px #929292);
}

.content-courses {
  display: block;
  position: relative;
  margin: 5rem 1rem 2rem;
  padding: 2rem;
  height: auto;
  background-color: #f8f3f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  filter: drop-shadow(0 0 1px #929292);
}

.content-courses-1 {
  display: block;
  position: relative;
  margin: 20rem 1rem 2rem;
  padding: 2rem;
  height: auto;
  background-color: #f8f3f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  filter: drop-shadow(0 0 1px #929292);
}

.div-courses {
  display: block;
  position: relative;
  margin: 5rem 0 3rem;
  padding: 4rem;
  height: auto;
  text-align: center;
}

/* desktop */
@media only screen and (min-width: 992px) and (orientation: landscape) {
  .image-courses {
    display: inline-flex;
    width: 30rem;
    height: 30rem;
    margin: 12rem auto 1rem auto;
  }
  .content-courses-1 {
    position: relative;
    margin: 10rem 0 2rem;
    padding: 2rem;
    width: 50%;
  }
  .content-courses {
    margin: 5rem 0 2rem;
    padding: 2rem;
    width: 50%;
  }
  .content-courses p {
    padding: 0.5rem 0;
  }
  .content-courses span {
    padding: 0.5rem 0;
  }
  .div-courses {
    margin: 20rem 0 3rem;
  }
  .div-courses span {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding-top: 0.2rem;
  }
}
.form-control:focus {
  border: 3px solid #F81878;
}

.btn-success {
  background-color: rgb(249, 182, 13) l;
}

.form-label {
  font-size: 1.2rem;
  color: #0f0d57;
  font-family: "Ibarra Real Nova", serif;
  margin-top: 2rem;
}

.content-contacto {
  position: relative;
  margin: 20rem 2rem 5rem;
  padding: 2rem;
  height: auto;
  background-color: #f8f3f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

/* desktop */
@media only screen and (min-width: 992px) and (orientation: landscape) {
  .content-contacto {
    position: relative;
    margin: 8rem 2rem 5rem;
    padding: 0 10rem;
    height: auto;
    background-color: #f8f3f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
  }
  .img-contacto img {
    width: 90%;
    margin-left: 5rem;
  }
}
.content-faq {
  position: relative;
  margin: 20rem 0 4rem 0;
  padding: 2rem;
  background-color: #f8f3f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}
.content-faq p {
  padding-top: 5rem;
}

.center {
  display: flex;
  justify-content: center;
}

/* desktop */
@media only screen and (min-width: 992px) and (orientation: landscape) {
  .content-faq {
    margin: 15rem 0 5rem;
    padding: 4em 20rem;
    justify-content: center;
  }
}
.image-workshop {
  position: absolute;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  border: 1px solid #929292;
}

.content-work {
  position: relative;
  margin: 20rem 0 1rem;
  padding: 2rem 1rem;
  height: auto;
  background-color: #f8f3f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

.content-works {
  position: relative;
  padding: 2rem 1rem;
  height: auto;
  background-color: #f8f3f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

.content-work-img {
  margin: 20rem 0 5rem;
}

.content-work-imgs {
  margin: 2rem 0 5rem;
}

.space {
  margin-top: 1rem;
}

/* desktop */
@media only screen and (min-width: 992px) and (orientation: landscape) {
  .image-workshop {
    width: 30%;
  }
  .content-work-img {
    margin: 2rem 2rem 5rem;
  }
  .content-work-imgs {
    margin: 2rem 2rem 5rem;
  }
  .content-work {
    margin: 2rem 0 5rem;
    padding: 2rem 5rem;
  }
  .content-works {
    position: relative;
    margin: 2rem 0 5rem;
    padding: 2rem 5rem;
  }
  .bottom {
    position: relative;
    bottom: 1rem;
  }
}
.content-examenes {
  position: relative;
  margin: 20rem 0 10rem;
  padding: 2rem;
  height: auto;
  background-color: #f8f3f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}
.content-examenes img {
  display: inline-flex;
  margin: 4rem 1rem 2rem;
  width: 40%;
  height: 40%;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}

/* desktop */
@media only screen and (min-width: 992px) and (orientation: landscape) {
  .content-examenes {
    margin: 8rem 0 5rem;
    padding: 0 20rem;
  }
  .content-examenes img {
    margin: 5rem 2rem;
    width: 30%;
    height: 30%;
  }
  #cambridge {
    width: 20rem;
  }
}
.content-nos {
  position: relative;
  margin: 20rem 0 5rem;
  padding: 2rem;
  height: auto;
  background-color: #f8f3f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}
.content-nos ul li {
  margin-top: 2rem;
}

/* desktop */
@media only screen and (min-width: 992px) and (orientation: landscape) {
  .content-nos {
    margin: 6rem 2rem;
    padding: 4em 2rem;
  }
}/*# sourceMappingURL=styles.css.map */