.content-nos, .content-works, .content-work, .content-faq, .content-courses, .content-index {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  text-indent: 0.2rem;
}

.barNav {
  position: absolute;
  background-color: #1ad4f6;
  width: 100%;
  height: 4rem;
  top: 0px;
  border-radius: 0 4rem 0 1rem;
  border-bottom: 3px solid #F81878;
  border-right: 6px solid #333333;
  border-top: 0;
}
.barNav .row {
  --bs-gutter-x: 0;
}

.barDecoration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listNav {
  display: block;
  list-style-type: none;
  background-color: #F81878;
  position: absolute;
  right: -5.75px;
  padding: 0.2rem 0.5rem;
  margin-top: 17.92rem;
  border: 1px 2px solid #333333;
  border-right: 6px solid #333333;
  border-bottom: 3px solid #333333;
  border-radius: 0 0 2rem 2rem;
}

.LinkNav {
  display: block;
  color: #333333;
  padding: 0.2rem 1rem;
  margin: 0.4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: #ebebeb;
  border: 1px solid #000000;
  filter: drop-shadow(1px 1px 1px #000000);
}

#index {
  color: #000000;
  filter: drop-shadow(0 0 0 #000000);
  background-color: #ffffff;
  border: 1px solid #929292;
}

#cursos {
  color: #000000;
  filter: drop-shadow(0 0 0 #000000);
  background-color: #ffffff;
  border: 1px solid #929292;
}

#nosotros {
  color: #000000;
  filter: drop-shadow(0 0 0 #000000);
  background-color: #ffffff;
  border: 1px solid #929292;
}

#workshop {
  color: #000000;
  filter: drop-shadow(0 0 0 #000000);
  background-color: #ffffff;
  border: 1px solid #929292;
}

#preguntas {
  color: #000000;
  filter: drop-shadow(0 0 0 #000000);
  background-color: #ffffff;
  border: 1px solid #929292;
}

.logo-index {
  position: absolute;
  margin: 1.5rem;
  border-radius: 2rem;
  width: 8rem !important;
  height: 7rem !important;
  -webkit-animation: rotacion 1.4s 1;
          animation: rotacion 1.4s 1;
  filter: drop-shadow(2px 4px 6px #000000);
}

.logo {
  position: absolute;
  margin: 1.5rem;
  border-radius: 2rem;
  width: 8rem;
  height: 7rem;
  filter: drop-shadow(2px 4px 6px #000000);
}

@media only screen and (min-width: 1150px) and (orientation: landscape) {
  .barNav {
    position: relative;
    height: 4em;
    width: 99vw;
  }
  .barDecoration {
    justify-content: end;
  }
  .listNav {
    display: flex;
    list-style-type: none;
    background-color: #F81878;
    padding: 1.2rem 1.4rem;
    margin-top: 9.5rem;
    right: -6px;
    border-top: 0 solid;
    border-radius: 0rem 0 2rem 2rem;
  }
  .LinkNav {
    padding: 0.4rem 2rem;
    margin: 10px;
    font-size: 1.3rem;
    display: inline;
    border-radius: 1.2rem;
    font-style: normal;
    filter: drop-shadow(3px 3px 1px #000000);
  }
  .logo-index {
    width: 9rem !important;
    height: 8rem !important;
    z-index: 50;
  }
  .logo {
    width: 9rem !important;
    height: 8rem !important;
    z-index: 50;
  }
}
.body-index {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 100%;
}

.body {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 100%;
}

.border {
  border: #F81878 solid 3px;
}

.item {
  border: #008000 solid 2px;
}

h1 {
  font-size: 2.6rem;
  color: #0f0d57;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  margin: 2rem;
}

h2 {
  font-size: 2.1rem;
  color: #0f0d57;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  margin: 2rem 0 2rem;
}

h3 {
  font-size: 2.3rem;
  -webkit-text-decoration: 1px overline #929292;
          text-decoration: 1px overline #929292;
  color: #0f0d57;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
}

h4 {
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida S";
  color: #0f0d57;
}

/* desktop */
@media only screen and (min-width: 1150px) and (orientation: landscape) {
  h1 {
    font-size: 3rem;
    padding-top: 2rem;
  }
  .margin-title {
    margin-top: 12rem;
    margin-bottom: 10rem;
  }
  h2 {
    font-size: 2rem;
    margin: 2rem 0;
  }
  h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  h4 {
    font-size: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida S";
  }
  .short-hr {
    width: 10rem;
  }
}
.copyright {
  position: absolute;
  font-size: 0.5rem;
  left: 1.5rem;
  bottom: 2.5rem;
  color: #ffffff;
}

.redesSociales {
  height: 80px;
  width: 205px;
  margin: 0 auto 4rem;
}
.redesSociales img {
  display: inline-flex;
  height: 80%;
}

.foot {
  position: relative;
  background-color: #000000;
  width: auto;
  margin-top: 10rem;
  padding-bottom: 1rem;
  filter: drop-shadow(0 -1rem 4rem #1ad4f6);
}
.foot .row {
  --bs-gutter-x: 0;
}

.menuFooter {
  padding: 1.5rem;
  display: block;
  justify-content: center;
  list-style: none;
  text-align: center;
}
.menuFooter .LinkFoot {
  color: #ffffff;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-weight: bold;
}
.menuFooter .LinkFoot:hover {
  color: #1ad4f6;
}

.listFooter {
  display: block;
  list-style: none;
  font-size: 1.4rem;
  padding: 0;
}
.listFooter li {
  margin: 1rem 0;
}

/* desktop */
@media only screen and (min-width: 1150px) and (orientation: landscape) {
  .foot {
    height: 100%;
    bottom: 0px;
    margin-top: 8rem;
    filter: drop-shadow(0 -2rem 6rem #1ad4f6);
    z-index: 20;
  }
  .listFooter {
    display: flex;
    text-decoration: none;
  }
  .menuFooter {
    margin: auto;
    padding: 1rem 0.2rem 0;
    display: flex;
  }
  .menuFooter .LinkFoot {
    margin: 0 1rem;
    font-size: 1.2rem;
  }
  .copyright {
    font-size: 0.7rem;
    justify-content: center;
  }
}
.carrousel {
  display: flex;
  justify-content: left;
  margin-top: 2rem;
}

.imagenPrincipalMovil {
  margin-top: 13rem;
  width: 100vw;
  margin-left: -1rem;
}

.imagenPrincipal {
  display: none;
}

.content-index {
  position: relative;
  margin: 0.5rem 0 5rem;
  z-index: -50;
}
.content-index h1 {
  margin-bottom: 0.2rem;
}
.content-index h2 {
  margin-top: 0.2rem;
}
.content-index .smallFont {
  font-size: 0.8rem !important;
}
.content-index .comments {
  background-color: rgb(241, 241, 241);
}
.content-index img {
  display: none;
}

.aside div span {
  display: flex;
  width: 100%;
  justify-content: center;
}
.aside div span a {
  display: block;
  position: relative;
  margin: 0 0 8rem 0;
  padding: 0.5rem 0.2rem;
  width: 100%;
  text-decoration: none;
  font-size: 2rem;
  color: #0f0d57;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  background-color: #ffffff;
  border: 1px solid #333333;
  filter: drop-shadow(0 0 3px #333333);
}
.aside div img {
  width: 100%;
  border: 0.1rem solid #333333;
  filter: drop-shadow(2px 2px 4px #333333);
}

@-webkit-keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }
  50% {
    margin-left: 3rem;
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }
  50% {
    margin-left: 3rem;
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* desktop */
@media only screen and (min-width: 1150px) and (orientation: landscape) {
  .carrousel {
    justify-content: center;
  }
  .imagenPrincipal {
    width: 60vw;
    z-index: -10;
    display: block;
  }
  .imagenPrincipalMovil {
    display: none;
  }
  .content-index {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 5rem 0;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.2rem;
    height: auto;
  }
  .content-index p {
    margin-top: 1.2rem;
  }
  .content-index img {
    display: block;
    margin-top: 3rem;
    width: 80%;
    margin-left: 1rem;
  }
  .aside {
    margin-top: 15rem;
    padding: 0rem 6rem 0 0;
  }
  .aside div span a {
    display: flex;
    position: relative;
    width: 100%;
    text-decoration: none;
    font-size: 2rem;
    color: #0f0d57;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    background-color: #ffffff;
    filter: drop-shadow(10px 10px 10px #333333);
  }
  .aside div img {
    width: 100%;
    border: 0.1rem solid #333333;
    filter: drop-shadow(10px 10px 6px #333333);
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.image-courses {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 34rem;
  height: 10rem;
  margin: 2rem 5rem;
  border: 1px solid #929292;
  filter: drop-shadow(0 0 1px #929292);
}

#h1cursos {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cambridge {
  width: 10rem;
}

#path {
  width: 7rem;
}

nav {
  --bs-gutter-x: 0;
}

section .row {
  --bs-gutter-x: 0 !important;
}

.tower {
  display: none;
}

.teacher {
  display: none;
}

.content-courses {
  position: relative !important;
  margin: 5rem 1rem 0 !important;
  padding: 2rem !important;
  height: auto !important;
  background-color: #ffffff;
}
.content-courses span b {
  font-size: 1.1rem;
  text-align: center;
  margin: 1.5rem 0;
  display: block;
}
.content-courses span h3 {
  font-size: 3rem !important;
}

.div-courses {
  position: relative !important;
  margin: 17rem 0 0.5rem !important;
  padding: 1rem 1rem !important;
  height: auto !important;
  display: block;
  text-align: center;
}
.div-courses h2 {
  font-size: 1.6rem;
  line-height: 2.7rem;
  margin-bottom: 0.3rem;
  padding-bottom: 1rem;
}
.div-courses span {
  padding-top: 0.3rem;
  font-size: 0.8rem;
}

/* desktop */
@media only screen and (min-width: 1150px) and (orientation: landscape) {
  #cambridge {
    width: 15rem;
    margin: 0 2rem;
  }
  #path {
    width: 10rem;
    margin: 0 2rem;
  }
  .teacher {
    position: fixed;
    display: block;
    width: 30rem;
    margin-left: 2rem;
    bottom: 0rem;
    z-index: 0;
    filter: drop-shadow(0.3rem 0.3rem 3px #929292);
    filter: opacity(15%);
  }
  .image-courses {
    display: inline-flex;
    width: 30rem;
    height: 30rem;
    margin: 12rem auto 1rem auto;
  }
  .content-courses {
    margin: 10rem 0 2rem !important;
    padding: 2rem;
    width: 50%;
    filter: drop-shadow(1px 1px 30px);
  }
  .content-courses p {
    padding: 0.5rem 0;
  }
  .content-courses span {
    padding: 0.5rem 0;
  }
  .div-courses {
    margin: 13rem 0 4rem !important;
  }
  .div-courses h2 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
  }
  .div-courses span {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding: 0.5rem 10rem 0;
  }
}
.content-faq {
  position: relative !important;
  margin: 18rem 0 2rem 0 !important;
  padding: 0 2rem !important;
  height: auto !important;
  background-color: #ffffff;
}
.content-faq h1 {
  margin-top: 0;
}
.content-faq p {
  padding-top: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}

.noCursor {
  cursor: default !important;
}

/* desktop */
@media only screen and (min-width: 1150px) and (orientation: landscape) {
  .content-faq {
    position: relative !important;
    margin: 6rem 0 2rem 0 !important;
    padding: 2rem 15rem !important;
    height: auto !important;
    justify-content: center;
  }
}
.image-workshop {
  position: absolute;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  -webkit-animation: rgb 5s infinite;
          animation: rgb 5s infinite;
}

.content-work-imgs img {
  height: 18rem !important;
}

#manos {
  display: block;
  position: absolute;
  z-index: -100;
  margin-top: 3rem;
  margin-left: 0;
  width: 100%;
  height: 15rem;
  margin-left: -0.75rem;
  border-bottom: 6px ridge;
  border-top: 6px ridge;
}

.content-work-1 {
  position: relative !important;
  margin: 5rem 0 1rem !important;
  padding: 2rem 1rem !important;
  height: auto !important;
}

.titles {
  margin-top: 19rem;
}
.titles h1 {
  font-size: 2rem;
  border-radius: 1.2rem !important;
  border: 2px ridge #008000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7rem;
  margin-left: auto;
  margin-right: auto;
}
.titles h2 {
  font-size: 1.2rem;
}

@-webkit-keyframes rgb {
  0% {
    filter: drop-shadow(0 0 0.3rem #1ad4f6);
  }
  25% {
    filter: drop-shadow(0 0 0.3rem #F81878);
  }
  50% {
    filter: drop-shadow(0 0 0.3rem #fff700);
  }
  75% {
    filter: drop-shadow(0 0 0.3rem #008000);
  }
  100% {
    filter: drop-shadow(0 0 0.3rem #1ad4f6);
  }
}

@keyframes rgb {
  0% {
    filter: drop-shadow(0 0 0.3rem #1ad4f6);
  }
  25% {
    filter: drop-shadow(0 0 0.3rem #F81878);
  }
  50% {
    filter: drop-shadow(0 0 0.3rem #fff700);
  }
  75% {
    filter: drop-shadow(0 0 0.3rem #008000);
  }
  100% {
    filter: drop-shadow(0 0 0.3rem #1ad4f6);
  }
}
.content-work {
  position: relative !important;
  margin: 9rem 0 1rem !important;
  padding: 2rem 1rem !important;
  height: auto !important;
  background-color: #ffffff;
}

.content-works {
  position: relative !important;
  margin: 9rem 0 1rem !important;
  padding: 2rem 1rem !important;
  height: auto !important;
  background-color: #ffffff;
}

.content-work-imgs {
  margin: 2rem 0 15rem;
}
.content-work-imgs img {
  width: 92%;
  height: 50%;
}

.space {
  margin-top: 1rem;
}

/* desktop */
@media only screen and (min-width: 1150px) and (orientation: landscape) {
  .titles {
    margin-top: 20.5rem;
  }
  .titles h1 {
    font-size: 3.5rem;
    border-radius: 1.2rem !important;
    border: 3px ridge #008000;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem 4rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
  }
  .image-workshop {
    width: 100% !important;
    display: block !important;
    position: relative !important;
  }
  #manos {
    display: block;
    position: absolute;
    z-index: -100;
    margin-top: -5rem;
    margin-left: -0.75rem;
    width: 100vw;
    height: 35rem;
    border-bottom: 10px ridge;
    border-top: 0;
  }
  .content-work-img {
    margin: 2rem 0 5rem !important;
  }
  .content-work-imgs img {
    height: 26% !important;
  }
  .content-work {
    margin: 12rem 0 0 !important;
    padding: 2rem 30% 0 !important;
  }
  .content-work-1 {
    margin: 2rem 0 0 !important;
    padding: 2rem 30% 0 !important;
  }
  .content-works {
    position: relative !important;
    margin: 0 !important;
    padding: 0 30% !important;
  }
  .bottom {
    position: relative !important;
    bottom: 1rem !important;
  }
}
.content-nos {
  position: relative !important;
  margin: 18rem 1rem 1rem 0rem !important;
  padding: 1rem 1.5rem !important;
  height: auto !important;
  background-color: #ffffff;
}
.content-nos ul {
  padding: 1rem;
}
.content-nos ul li {
  margin-bottom: 4rem;
  padding: 1rem;
  list-style: none;
}
.content-nos ul #libreta {
  position: absolute;
  top: 13rem;
  left: -1rem;
  width: 80px;
  rotate: -10deg;
}
.content-nos ul #lapiz {
  position: absolute;
  top: 35rem;
  right: 0;
  width: 80px;
  rotate: 30deg;
}
.content-nos ul #libroAbierto {
  position: absolute;
  top: 67rem;
  right: 0;
  width: 70px;
}
.content-nos ul #tablet {
  position: absolute;
  top: 84rem;
  left: -2rem;
  width: 100px;
  rotate: -30deg;
}
.content-nos ul #libro2 {
  position: absolute;
  top: 90rem;
  right: 0rem;
  width: 90px;
  rotate: 30deg;
}
.content-nos ul #li-1 {
  border: 5px double #0f0d57;
}
.content-nos ul #li-2 {
  border: 5px double #008000;
}
.content-nos ul #li-3 {
  border: 5px double #000000;
}
.content-nos ul #li-4 {
  border: 5px double #F81878;
}
.content-nos ul #li-5 {
  border: 5px double #008000;
}
.content-nos ul #li-6 {
  border: 5px double #0f0d57;
  margin-bottom: 0;
}

/* desktop */
@media only screen and (min-width: 1150px) and (orientation: landscape) {
  .content-nos {
    margin: 10rem 2rem !important;
    padding: 1rem 10% !important;
    font-size: 1.1rem;
  }
  .content-nos ul li {
    margin-top: 2rem;
    padding: 1rem;
  }
  .content-nos ul #libreta {
    top: 10rem;
    left: 4rem;
    width: 10% !important;
  }
  .content-nos ul #lapiz {
    top: 20rem;
    right: 4rem;
    width: 10% !important;
  }
  .content-nos ul #libroAbierto {
    top: 40rem;
    right: 4rem;
    width: 8% !important;
  }
  .content-nos ul #tablet {
    top: 50rem;
    left: 3em;
    width: 11% !important;
    rotate: -20deg;
  }
  .content-nos ul #libro2 {
    top: 65rem;
    right: 5rem;
    width: 10%;
    rotate: 40deg;
  }
}/*# sourceMappingURL=styles.css.map */