@import "./partials/colors", "./partials/fonts", "./partials/header", "./partials/body","./partials/footer","./partials/index.scss", "./partials/courses", "./partials/contacto","./partials/faq","./partials/workshop";






.content {
    position: relative;
    padding: 2rem;
    background-color: $bgColor;
    font-family: $principalFont;
    font-size: medium;
}



.content-examenes {
    position: relative;
    margin: 20rem 0 10rem;
    padding: 2rem;
    height: auto;
    background-color: $bgColor;
    font-family: $principalFont;
    font-size: 0.9rem;
}

.content-examenes img {
    display: inline-flex;
    margin: 4rem 1rem 2rem;
    width: 40%;
    height: 40%;
    justify-content: center;
}


.center {
    display: flex;
    justify-content: center;
}

.div-courses {
    display: block;
    position: relative;
    margin: 5rem 0 3rem;
    padding: 4rem;
    height: auto;
    text-align: center;
}











/* fin mobile */
















/* desktop */
@media only screen and (min-width: 992px) and (orientation:landscape) {

}

  

   

  




  

    .div-courses span {
        display: block;
        font-family: $principalFont;
        font-size: 1rem;
        padding-top: .2rem;

    }


 


    .content-examenes {
        position: relative;
        margin: 8rem 0 5rem;
        padding: 4em 20rem;
        background-color: $bgColor;
        height: auto;
        font-family: $principalFont;
        font-size: 0.9rem;
    }

    .content-examenes img {
        display: inline-flex;
        margin: 8rem 2rem;
        width: 30%;
        height: 30%;
    }

    #cambridge {
        width: 20rem;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .bottom {
        position: relative;
        bottom: 1rem;
    }

    .content-mt-l {
        margin: 2rem 45rem 1rem 11rem;
    }

    .content hr {
        width: 11rem;
    }