@import "./partials/colors", "./partials/fonts", "./partials/header", "./partials/body","./partials/footer","./partials/index.scss", "./partials/courses", "./partials/contacto";



.image-workshop {
    position: absolute;
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    border: 1px solid $lighGray;
}


.content {
    position: relative;
    padding: 2rem;
    background-color: $bgColor;
    font-family: $principalFont;
    font-size: medium;
}

.content-nosotros {
    position: relative;
    margin: 20rem 0 5rem;
    padding: 2rem;
    height: auto;
    background-color: $bgColor;
    font-family: $principalFont;
    font-size: 0.9rem;
}

.content-nosotros ul li {
    margin-top: 2rem;
}







.content-faq {
    position: relative;
    margin: 20rem 0 4rem 0;
    padding: 2rem;
    background-color: $bgColor;
    font-family: $principalFont;
    font-size: 0.9rem;
}

.content-faq p {
    padding-top: 5rem;
}





.content-examenes {
    position: relative;
    margin: 20rem 0 10rem;
    padding: 2rem;
    height: auto;
    background-color: $bgColor;
    font-family: $principalFont;
    font-size: 0.9rem;
}

.content-examenes img {
    display: inline-flex;
    margin: 4rem 1rem 2rem;
    width: 40%;
    height: 40%;
    justify-content: center;
}

.content-work {
    position: relative;
    margin: 20rem 0 1rem;
    padding: 2rem 1rem;
    height: auto;
    background-color: $bgColor;
    font-family: $principalFont;
    font-size: 0.9rem;
}

.content-works {
    position: relative;
    padding: 2rem 1rem;
    height: auto;
    background-color: $bgColor;
    font-family: $principalFont;
    font-size: 0.9rem;

}

.content-work-img {
    margin: 20rem 0 5rem;
}

.content-work-imgs {
    margin: 2rem 0 5rem;
}

.center {
    display: flex;
    justify-content: center;
}

.div-courses {
    display: block;
    position: relative;
    margin: 5rem 0 3rem;
    padding: 4rem;
    height: auto;
    text-align: center;
}











/* fin mobile */
















/* desktop */
@media only screen and (min-width: 992px) and (orientation:landscape) {

}

  

   

    .image-workshop {
        position: absolute;
        display: inline-flex;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30%;
        border: 1px solid $lighGray;
    }





  

    .div-courses span {
        display: block;
        font-family: $principalFont;
        font-size: 1rem;
        padding-top: .2rem;

    }


    .content-nosotros {
        position: relative;
        margin: 15rem 0 5rem;
        padding: 4em 20rem;
        height: auto;
        font-family: $principalFont;
        font-size: 0.9rem;
    }

    .content-nosotros ul li {
        margin-top: 2rem;
    }


    .content-examenes {
        position: relative;
        margin: 8rem 0 5rem;
        padding: 4em 20rem;
        background-color: $bgColor;
        height: auto;
        font-family: $principalFont;
        font-size: 0.9rem;
    }

    .content-examenes img {
        display: inline-flex;
        margin: 8rem 2rem;
        width: 30%;
        height: 30%;
    }

    #cambridge {
        width: 20rem;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .bottom {
        position: relative;
        bottom: 1rem;
    }





    .content-work-img {
        margin: 15rem 2rem 5rem;
    }

    .content-work-imgs {
        margin: 2rem 2rem 5rem;
    }

    .content-work {
        position: relative;
        margin: 15rem 0 5rem;
        padding: 2rem 5rem;
        height: auto;
        background-color: $bgColor;
        font-family: $principalFont;
        font-size: 0.9rem;
    }

    .content-works {
        position: relative;
        margin: 2rem 0 5rem;
        padding: 2rem 5rem;
        height: auto;
        background-color: $bgColor;
        font-family: $principalFont;
        font-size: 0.9rem;
    }

    .content-mt-l {
        margin: 2rem 45rem 1rem 11rem;
    }

    .content hr {
        width: 11rem;
    }

    .content-faq {
        position: relative;
        margin: 15rem 0 5rem;
        padding: 4em 20rem;
        ;
        background-color: $bgColor;
        font-family: $principalFont;
        font-size: 0.9rem;
        justify-content: center;
    }



    


